<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin</title>
</head>
<body class="sb-nav-fixed">
    <style>
        body {
            background-image: url('/AdminTemp/img/noxus_logo.png');
            background-repeat: no-repeat; /* Tekrar etmesini önler */
            background-position: center; /* Ortaya hizalar */
        }
    </style>
</body>
</html>