<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/OtelTemp/assets/img/favicon.ico">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    @* <link rel="stylesheet" href="~/AdminTemp/css/style.css"> *@
    <link rel="stylesheet" href="~/OtelTemp/assets/css/style.css">
</head>

<body>
    <main>
        <!-- Room Start -->
        <section class="room-area r-padding1">
            <br />
            <br />
            <div class="container">
                <div class="row">
                    @await Component.InvokeAsync("OdaTurleri")
                </div>
            </div>
            <br />
            <br />

        </section>
        <!-- Room End -->
    </main>

    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="~/OtelTemp/assets/js/vendor/modernizr-3.5.0.min.js"></script>

    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/OtelTemp/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/OtelTemp/assets/js/popper.min.js"></script>
    <script src="~/OtelTemp/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/OtelTemp/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/OtelTemp/assets/js/owl.carousel.min.js"></script>
    <script src="~/OtelTemp/assets/js/slick.min.js"></script>
    <!-- Date Picker -->
    <script src="~/OtelTemp/assets/js/gijgo.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/OtelTemp/assets/js/wow.min.js"></script>
    <script src="~/OtelTemp/assets/js/animated.headline.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/OtelTemp/assets/js/jquery.scrollUp.min.js"></script>
    <script src="~/OtelTemp/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/OtelTemp/assets/js/jquery.sticky.js"></script>
    <script src="~/OtelTemp/assets/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="~/OtelTemp/assets/js/contact.js"></script>
    <script src="~/OtelTemp/assets/js/jquery.form.js"></script>
    <script src="~/OtelTemp/assets/js/jquery.validate.min.js"></script>
    <script src="~/OtelTemp/assets/js/mail-script.js"></script>
    <script src="~/OtelTemp/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/OtelTemp/assets/js/plugins.js"></script>
    <script src="~/OtelTemp/assets/js/main.js"></script>

</body>
</html>