<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Anasayfa</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/OtelTemp/assets/img/favicon.ico">

	<link rel="stylesheet" href="~/OtelTemp/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/gijgo.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/slicknav.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/animate.min.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/magnific-popup.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/themify-icons.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/themify-icons.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/slick.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/nice-select.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/style.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/responsive.css">
</head>

<body>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <strong>Hotel</b>
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="slider-active dot-style">
                <div class="single-slider  hero-overly slider-height d-flex align-items-center" data-background="OtelTemp/assets/img/hero/h1_hero.jpg">
                    <div class="container">
                        <div class="row justify-content-center text-center">
                            <div class="col-xl-9">
                                <div class="h1-slider-caption">
                                    <h1 data-animation="fadeInUp" data-delay=".4s">ŞEHRİN EN İYİ OTELİ</h1>
                                    <h3 data-animation="fadeInDown" data-delay=".4s">Otel & Tatil</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        
        <!-- Make customer Start-->
        <section class="make-customer-area customar-padding fix">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-xl-5 col-lg-6">
                        <div class="customer-img mb-120">
                            <img src="~/OtelTemp/assets/img/customer/customar1.png" class="customar-img1" alt="">
                            <img src="~/OtelTemp/assets/img/customer/customar2.png" class="customar-img2" alt="">
                            <div class="service-experience heartbeat">
                                <h3>25 Yıllık Hizmet<br>Deneyimi</h3>
                            </div>
                        </div>
                    </div>
                    <div class=" col-xl-4 col-lg-4">
                        <div class="customer-caption">
                            <span>İşletmemiz Hakkında</span>
                            <h2>Müşterinizi hikayenizin kahramanı yapın.</h2>
                            <div class="caption-details">
                                <p class="pera-dtails">Eğitimli personel ile ekip çalışmalarını ön planda tutarak güleryüz ve güveni müşteri memnuniyeti sunmak otel politikamızdır. </p>
                                <p>
                                    Misyonumuz ve Vizyonumuzun bir yansıması olan kalite anlayışımız doğrultusunda sunduğumuz hizmetlerimizden duyulan misafir memnuniyeti, bizim için büyük önem arz etmektedir. Kaya-Group olarak misafirlerimize en iyi hizmeti verebilmek için kurumlarımızı ve süreçlerimizi geliştirmeye ve iyileştirmeye devam ediyor, kapsamlı çalışmalar gerçekleştiriyoruz.
                                    Müşterilerimizin ihtiyaçları doğrultusunda hızlı ve etkin çözümler üretmek, en iyi hizmeti verebilmek ve beklentilerini en üst düzeyde karşılayabilmek için, Tüm Marian çalışanları olarak Misafir Odaklı bir yaklaşım benimsiyoruz.
                                </p>
                                <a asp-controller="Sayfa" asp-action="Hakkimizda" class="btn more-btn1">Daha Fazlası İçin<i class="ti-angle-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Make customer End-->
    </main>
    
    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="~/OtelTemp/assets/js/vendor/modernizr-3.5.0.min.js"></script>

    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/OtelTemp/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/OtelTemp/assets/js/popper.min.js"></script>
    <script src="~/OtelTemp/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/OtelTemp/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/OtelTemp/assets/js/owl.carousel.min.js"></script>
    <script src="~/OtelTemp/assets/js/slick.min.js"></script>
    <!-- Date Picker -->
    <script src="~/OtelTemp/assets/js/gijgo.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/OtelTemp/assets/js/wow.min.js"></script>
    <script src="~/OtelTemp/assets/js/animated.headline.js"></script>
    <script src="~/OtelTemp/assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/OtelTemp/assets/js/jquery.scrollUp.min.js"></script>
    <script src="~/OtelTemp/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/OtelTemp/assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="~/OtelTemp/assets/js/contact.js"></script>
    <script src="~/OtelTemp/assets/js/jquery.form.js"></script>
    <script src="~/OtelTemp/assets/js/jquery.validate.min.js"></script>
    <script src="~/OtelTemp/assets/js/mail-script.js"></script>
    <script src="~/OtelTemp/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/OtelTemp/assets/js/plugins.js"></script>
    <script src="~/OtelTemp/assets/js/main.js"></script>

</body>
</html>