@using OtelRez.MVC.Models.VMs.Sayfa
@model AyarlarVM

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Responsive Registration Form | CodingLab </title>
    <link rel="stylesheet" href="~/RegisterTemp/style.css">
</head>
<body>
    <div class="content">
        <!-- Registration form -->
        <form asp-action="Ayarlar" method="post">
            <div class="user-details">
                @await Component.InvokeAsync("Ayarlar", new { kullaniciId = Convert.ToInt32(User.Claims.FirstOrDefault(c => c.Type == "userId")?.Value) })
            </div>
            <!-- Submit button -->
            <div class="button">
                <input type="submit" value="Güncelle">
            </div>
        </form>
    </div>
</body>
</html>