
@model Hizmetler

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hotel</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/OtelTemp/assets/img/favicon.ico">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/OtelTemp/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/gijgo.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/slick.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/style.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/responsive.css">
</head>

<body>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <strong>Hotel</b>
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <main>

        <!-- slider Area Start-->
        <div class="slider-area">
            <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="~/OtelTemp/assets/img/hero/servicespage_hero.jpg">
                <div class="container">
                    <div class="row ">
                        <div class="col-md-11 offset-xl-1 offset-lg-1 offset-md-1">
                            <div class="hero-caption">
                                <span>Services</span>
                                <h2>Services</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <!-- Dining Start -->
        <div class="dining-area dining-padding-top">
            @await Component.InvokeAsync("Hizmetler")
        </div>  
        <!-- Dining End -->

        <!-- Testimonial Start -->
        <div class="testimonial-area t-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-9 col-md-9">
                        <div class="h1-testimonial-active">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial pt-65">
                                <!-- Testimonial tittle -->
                                <div class="font-back-tittle mb-105">
                                    <div class="archivment-front">
                                        <img src="~/OtelTemp/assets/img/logo/testimonial.png" alt="">
                                    </div>
                                    <h3 class="archivment-back">Testimonial</h3>
                                </div>
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption text-center">
                                    <p>
                                        Yorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
                                    </p>
                                    <!-- Rattion -->
                                    <div class="testimonial-ratting">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="rattiong-caption">
                                        <span>Clifford Frazier, <span>Regular Client</span> </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial  pt-65">
                                <!-- Testimonial tittle -->
                                <div class="font-back-tittle mb-105">
                                    <div class="archivment-front">
                                        <img src="~/OtelTemp/assets/img/logo/testimonial.png" alt="">
                                    </div>
                                    <h3 class="archivment-back">Testimonial</h3>
                                </div>
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption text-center">
                                    <p>
                                        Yorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
                                    </p>
                                    <div class="testimonial-ratting">
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                        <a href="#"><i class="fas fa-star"></i></a>
                                    </div>
                                    <div class="rattiong-caption">
                                        <span>Clifford Frazier, <span>Regular Client</span> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
        <!-- Gallery img Start-->
        <div class="gallery-area fix">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="gallery-active owl-carousel">
                            <div class="gallery-img">
                                <a href="#"><img src="~/OtelTemp/assets/img/gallery/gallery1.jpg" alt=""></a>
                            </div>
                            <div class="gallery-img">
                                <a href="#"><img src="~/OtelTemp/assets/img/gallery/gallery2.jpg" alt=""></a>
                            </div>
                            <div class="gallery-img">
                                <a href="#"><img src="~/OtelTemp/assets/img/gallery/gallery3.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery img End-->
    </main>

    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="~/OtelTemp/assets/js/vendor/modernizr-3.5.0.min.js"></script>

    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/OtelTemp/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/OtelTemp/assets/js/popper.min.js"></script>
    <script src="~/OtelTemp/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/OtelTemp/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/OtelTemp/assets/js/owl.carousel.min.js"></script>
    <script src="~/OtelTemp/assets/js/slick.min.js"></script>
    <!-- Date Picker -->
    <script src="~/OtelTemp/assets/js/gijgo.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/OtelTemp/assets/js/wow.min.js"></script>
    <script src="~/OtelTemp/assets/js/animated.headline.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/OtelTemp/assets/js/jquery.scrollUp.min.js"></script>
    <script src="~/OtelTemp/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/OtelTemp/assets/js/jquery.sticky.js"></script>
    <script src="~/OtelTemp/assets/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="~/OtelTemp/assets/js/contact.js"></script>
    <script src="~/OtelTemp/assets/js/jquery.form.js"></script>
    <script src="~/OtelTemp/assets/js/jquery.validate.min.js"></script>
    <script src="~/OtelTemp/assets/js/mail-script.js"></script>
    <script src="~/OtelTemp/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/OtelTemp/assets/js/plugins.js"></script>
    <script src="~/OtelTemp/assets/js/main.js"></script>

</body>
</html>