@using OtelRez.Entity.Entities.Concrete
@using OtelRez.MVC.Models.VMs.Sayfa

@model IletisimeGecVM

<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Barbers</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <link rel="manifest" href="site.webmanifest"> -->
	<link rel="shortcut icon" type="image/x-icon" href="~/OtelTemp/assets/img/favicon.png">
	<!-- Place favicon.ico in the root directory -->
	<!-- CSS here -->
	<link rel="stylesheet" href="~/OtelTemp/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/gijgo.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/slicknav.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/animate.min.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/magnific-popup.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/themify-icons.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/themify-icons.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/slick.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/nice-select.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/style.css">
	<link rel="stylesheet" href="~/OtelTemp/assets/css/responsive.css">
</head>

<body>

	<!-- Preloader Start -->
	<div id="preloader-active">
		<div class="preloader d-flex align-items-center justify-content-center">
			<div class="preloader-inner position-relative">
				<div class="preloader-circle"></div>
				<div class="preloader-img pere-text">
					<strong>Hotel</b>
				</div>
			</div>
		</div>
	</div>
	<!-- Preloader Start -->
	<!-- slider Area Start-->
	<div class="slider-area">
		<div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="~/OtelTemp/assets/img/hero/contact_hero.jpg">
			<div class="container">
				<div class="row ">
					<div class="col-md-11 offset-xl-1 offset-lg-1 offset-md-1">
						<div class="hero-caption">
							<span>Contact</span>
							<h2>Contact</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- slider Area End-->
	<!-- ================ contact section start ================= -->
	<section class="contact-section">
		<div class="container">
			<div class="d-none d-sm-block mb-5 pb-4">
				<p>
					<iframe allowfullscreen="" height="450" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d188.0711890123908!2d29.006804810547028!3d41.04408876588866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7a24975fe5d%3A0xa05d7aa13cfcaf89!2sBah%C3%A7e%C5%9Fehir%20%C3%9Cniversitesi%20Wissen%20Akademie!5e0!3m2!1str!2str!4v1733834600667!5m2!1str!2str"
							style="border:0;" width="100%"></iframe>
				</p>
			</div>

			<div class="row">
				<div class="col-12">
					<h2 class="contact-title">İletişime Geçin</h2>
				</div>

				<div class="col-lg-8">
					<form asp-action="Iletisim" method="post">
						<div class="row">
							<div class="col-12">
								<div class="form-group">
									<input asp-for="Konu" class="form-control" placeholder="Konu" />
								</div>
							</div>

							<div class="col-12">
								<div class="form-group">
									<textarea asp-for="Mesaj" class="form-control" cols="30" rows="9" placeholder="Mesajınız"></textarea>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<input asp-for="Adi" class="form-control" placeholder="Adınız" />
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<input asp-for="Mail" class="form-control" placeholder="Mailiniz" />
								</div>
							</div>
							
						</div>
						<div class="button">
							<button type="submit" class="button button-contactForm boxed-btn">Mesajı Gönder</button>
						</div>
					</form>
				</div>

				<div class="col-lg-3 offset-lg-1">
					@await Component.InvokeAsync("Iletisim")
				</div>
			</div>
		</div>
	</section>
	<!-- ================ contact section end ================= -->
	<!-- JS here -->
	<!-- All JS Custom Plugins Link Here here -->
	<script src="~/OtelTemp/assets/js/vendor/modernizr-3.5.0.min.js"></script>

	<!-- Jquery, Popper, Bootstrap -->
	<script src="~/OtelTemp/assets/js/vendor/jquery-1.12.4.min.js"></script>
	<script src="~/OtelTemp/assets/js/popper.min.js"></script>
	<script src="~/OtelTemp/assets/js/bootstrap.min.js"></script>
	<!-- Jquery Mobile Menu -->
	<script src="~/OtelTemp/assets/js/jquery.slicknav.min.js"></script>

	<!-- Jquery Slick , Owl-Carousel Plugins -->
	<script src="~/OtelTemp/assets/js/owl.carousel.min.js"></script>
	<script src="~/OtelTemp/assets/js/slick.min.js"></script>
	<!-- Date Picker -->
	<script src="~/OtelTemp/assets/js/gijgo.min.js"></script>
	<!-- One Page, Animated-HeadLin -->
	<script src="~/OtelTemp/assets/js/wow.min.js"></script>
	<script src="~/OtelTemp/assets/js/animated.headline.js"></script>

	<!-- Scrollup, nice-select, sticky -->
	<script src="~/OtelTemp/assets/js/jquery.scrollUp.min.js"></script>
	<script src="~/OtelTemp/assets/js/jquery.nice-select.min.js"></script>
	<script src="~/OtelTemp/assets/js/jquery.sticky.js"></script>
	<script src="~/OtelTemp/assets/js/jquery.magnific-popup.js"></script>

	<!-- contact js -->
	<script src="~/OtelTemp/assets/js/contact.js"></script>
	<script src="~/OtelTemp/assets/js/jquery.form.js"></script>
	<script src="~/OtelTemp/assets/js/jquery.validate.min.js"></script>
	<script src="~/OtelTemp/assets/js/mail-script.js"></script>
	<script src="~/OtelTemp/assets/js/jquery.ajaxchimp.min.js"></script>

	<!-- Jquery Plugins, main Jquery -->
	<script src="~/OtelTemp/assets/js/plugins.js"></script>
	<script src="~/OtelTemp/assets/js/main.js"></script>


	<script>
		   $('#datepicker').datepicker({
			   iconsLibrary: 'fontawesome',
			   disableDaysOfWeek: [0, 0],
		   //     icons: {
		   //      rightIcon: '<span class="fa fa-caret-down"></span>'
		   //  }
		   });
		   $('#datepicker2').datepicker({
			   iconsLibrary: 'fontawesome',
			   icons: {
				rightIcon: '<span class="fa fa-caret-down"></span>'
			}

		   });
		   var timepicker = $('#timepicker').timepicker({
			format: 'HH.MM'
		});
	</script>
</body>

</html>