<!doctype html>
<html class="no-js" lang="zxx">
<body>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Oda Numarası</th>
                <th>Giriş Tarihi</th>
                <th>Çıkış Tarihi</th>
                <th>Fiyat</th>
				<th>İşlemler</th>
            </tr>
        
        <tbody>
                @await Component.InvokeAsync("Rezervasyonlarim", new { kullaniciId = Convert.ToInt32(User.Claims.FirstOrDefault(c => c.Type == "userId")?.Value)})
        </tbody>
        </thead>
    </table>
</body>
</html >