<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OtelRez.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OtelRez.MVC.styles.css" asp-append-version="true" />

    <!-- CSS here -->
    <link rel="stylesheet" href="~/OtelTemp/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/gijgo.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/slick.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/style.css">
    <link rel="stylesheet" href="~/OtelTemp/assets/css/responsive.css">
</head>
<body>
    <header style="position:sticky; z-index:5; background-color:white;">

        <!-- Header Start -->
        <div class="header-area header-sticky">
            <div class="main-header ">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/OtelTemp/assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6">
                            <!-- main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a asp-area="" asp-controller="Sayfa" asp-action="Hizmetler">Hizmetlerimiz</a></li>
                                        <li><a asp-area="" asp-controller="Sayfa" asp-action="Odalar">Odalar</a> </li>
                                        <li><a asp-area="" asp-controller="Sayfa" asp-action="Iletisim">İletişim</a></li>
                                        
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <li><a>Hesabım</a>
                                                <ul class="submenu">
                                                    <li><a asp-controller="Sayfa" asp-action="Rezervasyonlarim">Rezervasyonlarım</a></li>
                                                    <li><a asp-controller="Sayfa" asp-action="Ayarlar">Ayarlar</a></li>
                                                    <li><a asp-controller="Hesap" asp-action="Cikis">Çıkış</a></li>
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            <li><a asp-area="" asp-controller="Hesap" asp-action="Giris">Giriş</a></li>
                                        }
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-2">
                            <!-- header-btn -->
                            <div class="header-btn-rez">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a asp-area="" asp-controller="RezervasyonOlustur" asp-action="Index" class="btn btn1 d-none d-lg-block" >Rezervasyon</a>
                                }
                                else
                                {
                                    <a asp-area="" asp-controller="Hesap" asp-action="Giris" class="btn btn1 d-none d-lg-block ">Rezervasyon</a>
                                }
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>


    <footer>
        <!-- Footer Start-->
        <div class="footer-area black-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a asp-controller="Home" asp-action="Index"><img src="~/OtelTemp/assets/img/logo/logo2_footer.png" alt=""></a>
                            </div>
                            <div class="footer-social footer-social2">
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://x.com/"><i class="fab fa-twitter"></i></a>
                            </div>
                            <div class="footer-pera">
                                <p>
                                    This site is made with <i class="ti-heart" aria-hidden="true"></i> by <a target="_blank">Emre Andaç & Betül Rana Özer</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>Hızlı Erişim</h4>
                                <ul>
                                    <li><a asp-controller="Sayfa" asp-action="Hakkimizda">Hakkımızda</a></li>
                                    <li><a asp-controller="Sayfa" asp-action="OdaTurDetay" asp-route-Id="6">En İyi Odamız</a></li>
                                    <li><a asp-controller="Sayfa" asp-action="Galery">Fotoğraf Galerisi</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>Rezarvasyon İçin</h4>
                                <ul>
                                    <li><a>Tel: 0212 568 93 96 </a></li>
                                    <li><a>Mail: istkafullkata@gmail.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4  col-sm-5">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>Adresimiz</h4>
                                <ul>
                                    <li><a asp-controller="Sayfa" asp-action="Iletisim">İstanbul, Beşiktaş</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")
</body>
</html>
