@model List<OdaTur>

@foreach (var item in Model)
{
	<div class="col-xl-4 col-lg-6 col-md-6">
		<div class="single-room mb-50">
			<div class="room-img">
				<a asp-area="Admin" asp-controller="Oda" asp-action="OdaGuncelle" asp-route-Id="@item.Id"> <img src="@Url.Content(item.PhotoPath)" alt=""></a>
			</div>
			<div class="room-caption">
				<h3><a>@item.TurAdi</a></h3>
				<div class="per-night">
					<span><u>₺</u>@item.Fiyat <span>/ Gecelik</span></span>
				</div>

			</div>
		</div>
	</div>
}
