@using OtelRez.MVC.Models.VMs.Hesap
@model GirisVM

<title>Giriş</title>

<div class="row">
    <div class="container">
        <div class="login-box">
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Giriş için formu doldurun</p>

                    <form asp-action="Giris" method="post">
                        <div class="input-group mb-3">
                            <input asp-for="Mail" class="form-control" placeholder="Mail">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <input asp-for=Sifre class="form-control" placeholder="Şifre">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-8">
                                <div class="">
                                    <input asp-for="RememberMe">
                                    <label for="remember">
                                        Beni Hatırla
                                    </label>
                                </div>
                            </div>

                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                            </div>
                        </div>
                    </form>

                    <p class="mb-1">
                        <a href="forgot-password.html">I forgot my password</a>
                    </p>
                    <p class="mb-0">
                        <a asp-controller="Hesap" asp-action="Kayit">Üye Ol</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>