@using OtelRez.MVC.Models.VMs.Hesap
@model SifremiUnuttumVM

<body>
    <form asp-action="SifremiUnuttum" method="post">
        <div class="user-details">
            <div class="input-box">
                <span asp-validation-for="Email" class="details">Mailiniz</span>
                <input asp-for="Email" type="email" placeholder="Mailinizi Giriniz" required>
            </div>
        </div>

        <div class="button">
            <input type="submit" value="Şifremi Gönder">
        </div>
    </form>
</body>